

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4 8px black;
    margin: 0;
    background-image: url('pictures/irrithyl.png');
    background-attachment: fixed;
}



.area {
    box-sizing: border-box;
    width: 65%;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    left: 0rem;
    top: 0rem;
    font-size: 25px;
    background-color: hsl(227, 28%, 29%);
    padding: 1rem;
    color: #fff;
    box-shadow: 0 4px 12px white;
}

/* 
MAINBOSS STYLINGS */

.mainboss {
    margin: 20px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    box-shadow: 0 4px 8px black; 
    height: 90px;
    width: auto;
    position: relative;
    background-color: hsl(221, 27%, 56%);
    border-radius: 40px;   
}

.mainboss > img {
    height: 100px;
    width: 100px;
    border-radius: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

.mainboss > p {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainboss > button {
    height: 100px;
    width: 100px;
    border-radius: 40px;
    background-color: hsl(194, 41%, 57%);
    border: 4px solid rgba(0, 0, 0, 0.521);
    position: absolute;
    right: 0;
    font-size: 20px;
}

.mainboss > button:hover {
    cursor: pointer;
    border: 5px solid green;
    background-color: white;
    box-shadow: 0 4px 10px green;   
}
/* MINIBOSS STYLINGS */

.miniBosslist {
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.miniboss {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.miniboss > img {
    height: 90px;
    width: 90px;
    border-radius: 45px;
}

.miniboss > button {
    height: 30px;
    width: 80px;
    background-color: hsl(194, 41%, 57%);
    border-radius: 30px;
    margin: 4px;
}

.miniboss > button:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid green;
    background-color: white;
    box-shadow: 0 4px 10px green;  
}

.bossCheck.active {
    background-color: hsl(113, 59%, 54%);
    color: #fff;
  }

.minibossCheck.active {
background-color: hsl(113, 59%, 54%);
color: #fff;
}


/* Punktestand */

.punktestand {
    position: fixed;
    left: 0rem;
    top: 0rem;
    font-size: 50px;
    background-color: hsl(227, 28%, 29%);
    padding: 1rem;
    color: white;
    text-shadow: 0 2px 6px black;
    box-shadow: 0 4px 12px white;
}

/* restliche Punkte */

.npcInvasions {
    left: 1rem;
    top: 20rem;
    font-size: 30px;
    background-color: hsl(194, 41%, 57%);
    color: #fff;
    border-radius: 20px;
    width: 200px;
}

.npcText {
    text-align: center;
}

.npcBTNs {
    position: absolute;
    right: 1rem;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.npcBTNs > button {
    font-size: 10px;
    height: 30px;
    width: 30px;
    margin-top: 3px;
    border-radius: 30px;
    background-color: hsl(194, 41%, 57%);
}

.npcBTNs > button:hover {
    cursor: pointer;
    border: 5px solid green;
    background-color: white;
    box-shadow: 0 4px 10px green;  
}