* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.home {
    opacity: 1;
    transition: opacity, ease-in, 500ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(218, 52%, 85%);
    height: 12%;
    box-shadow: 0 0 15px black;
}

.home > a {
    position: absolute;
    top: 30%;
    left: 10%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(235, 15%, 32%);
    font-size: 30px;
}

.home > a:hover {
    color: hsl(142, 69%, 43%);
    text-shadow: 0 0 2px hsl(219, 60%, 60%);
}

@media screen and (max-height: 877px) {
    .home {
        opacity: 0;
    }
}

body {
    background: linear-gradient(to right, hsl(238, 11%, 49%), hsl(230, 20%, 40%))
}

.calcGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calcGrid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(68, 90, 120);
    outline: none;
    background-color: hsla(240, 42%, 76%, 0.75);
    border-radius: 50px;
    margin: 5px;
    color: hsl(0, 0%, 1%);
}

.calcGrid > button:hover {
    background-color: hsla(240, 30%, 95%, 1);
}

.spantwo {
    grid-column: span 2;
}

.interface {
    background-color: hsla(229, 30%, 22%, 0.75);
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    color: hsl(35, 45%, 65%);
    font-size: 1.8rem;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px;
    padding: 1rem;
    height: 150px;
    position: relative;
    margin-bottom: 10px;
}

.interface .calcOp {
    position: absolute;
    top: 10px;
    font-size: 30px;
    margin-left: 10px;
}

.interface .calcInp {
    position: absolute;
    bottom: 10px;
    margin-top: 2rem;
    font-size: 40px;
}

